/* -------------------- CSS BY Amanda Moheit-------------------------------------- */

/* -------------------- IMPORTED FONTS -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');


/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Bebas Neue", "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    --black: #000000; 
    --almost-white: #efefef; 
    --gray: #bfbfbf; 
    --blue-green: #90C9BC;
    --white: #FFFFFF; 
    --burnt-orange: #CC5500; 
   
}



/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

h1, h2, h3, h4, menu, nav, #social  {
    font-family: 'Bebas Neue'; 
}

body {
    font-family: 'Montserrat'; 
    background-color:#efefef; 
    width: 414px; 
}

menu {
    list-style: none; 
    position: relative; 
    top: 170px; 
}

menu li a{
    color:#CC5500;
    text-decoration: none; 
}
aside {
    background-color:#90C9BC;
    
}


nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
}
nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}
nav li img {
    display: none;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
}
nav span {
    display: block;
    position: relative;
 }
nav label svg {
    display: block;
}
label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

.logo a 
{
    color:#CC5500;

}

.sign-in a {
    color:#CC5500;
}


menu {

    position: relative;
    top: 180px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

h1 {

    position: relative; 
    top: 190px;
    text-align: center; 
}

#search {

    position: relative; 
    top: -4250px; 
    text-align: center; 
}

#description {
    position: relative; 
    top: 180px; 
    font-size: 15px; 

}

.one {
    margin-top: 5px; 
    line-height: 1.5; 
}

.two 

{
    line-height: 1.5; 
}

main {

    position: relative; 
    top: 175px; 

}

main h2 {
    text-align: center; 
    margin-bottom: 0.5px; 
}

main dl {
    display: flex;
    flex-direction:row;
    line-height: 0.5;  
    font-size: 15px; 
    

}

main dt {

    font-weight: bold; 
    
}

.ingredients ul li {
    line-height: 2.0;
    font-size: 15px; 
}

.directions h3 {

    text-align: center; 
    margin-top: 0.5px; 
}

.directions ol li {

   
    font-size: 15px; 
    margin-bottom: 10px; 
}

.directions li {

    margin-bottom: 5px; 

}

.first {

    line-height: 1.3; 
    padding-bottom: 10px; 
}

.second {

    line-height: 1.3; 
    padding-bottom: 10px; 
}

.third {

    line-height: 1.3; 
    padding-bottom: 10px; 
}

.fourth {

    line-height: 1.3;
    margin-bottom: 10px; 
}

aside {
    margin-top: 20px; 
    position: relative; 
    top: 155px; 


}

aside h2 {

    text-align: center; 
    transform: translateY(5px); 
}

aside img {

    width: 75px; 
    height: 75px; 
}

#sides h3 a {

    color: black; 
    text-decoration: none; 

}

#sides dd {

    visibility: hidden; 
   

}

#sides dt {

    font-weight: bold; 
    font-size: 15px; 
    position: relative; 
    top:  -165px;
    transform: translateX(-125px);

}

#sides h4 {

    visibility: hidden; 

}

#sides p {

    font-size: 15px; 

}

#sides svg {

    position: relative; 
    top: -205px; 
    transform: translateX(-125px);

}

.rice {
    display: grid;  
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    
}

.rice h3 {

  position: relative; 
  left: -115px; 
  transform: translateY(-25px);   

}

.rice p {

    position: relative; 
    left: 85px; 
    transform: translateY(-150px);

}

.salsa {

    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    transform: translateY(-180px); 
}

.salsa h3 {

    position: relative; 
    left: -115px; 
    transform: translateY(-25px);

}

.salsa p {

    position: relative; 
    left: 85px; 
    transform: translateY(-150px);

}

.guac {
    
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    transform: translateY(-360px); 
}

.guac h3 {

    position: relative; 
    left: -115px; 
    transform: translateY(-25px);

}

.guac p {


        position: relative; 
        left: 85px; 
        transform: translateY(-150px);
    
    }

.tortillas {

    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    transform: translateY(-550px); 
}

.tortillas h3 {

    position: relative; 
    left: -115px; 
    transform: translateY(-25px);


}

.tortillas p {

    position: relative; 
    left: 85px; 
    transform: translateY(-150px);

}

footer {

    background-color: white; 
}

#social {

    position: relative; 
    bottom: -50px; 
    padding-bottom: 5px; 
    

}

#social h3 {

visibility: hidden; 

}

#social ul {

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    list-style-type: none; 

}

#social a{

    color: var(--burnt-orange); 
    text-decoration: none; 
  
   
}

.copyright h3 {

visibility: hidden;

}

.copyright img {

    display: block; 
    margin-left: auto; 
    margin-right: auto;  
    position: relative; 
    bottom: 75px; 
    width: 200px; 
    height: 200px;  



}

.copyright {

    margin-top: -5px; 
}


#cheesington {

position: relative; 
bottom: -200px; 
font-weight: bold; 
display: grid; 
grid-template-rows: 1fr 1fr; 
text-align: center; 
font-family: 'Bebas Neue'; 

}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

@media screen and (min-width: 620px) {

    #search {

    position: relative;
    top: -3500px; 
    right: -550px;
    padding: 20px; 
    border: 2px #CC5500; 
    border-radius: 4px; 
}

#logo {

    position:relative;
    top: -3500px;
    color:#CC5500;
    
}

#sign-in {
    position: relative; 
    top: -3500px;
    color: black;  
}

nav {

    position: relative; 
    top: -3500px; 
    min-width: 620px; 
    background-color:#ffffff; 

}

nav ul {

    display: grid; 
    grid-area: auto; 

}

nav li img {

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 

}
nav li a {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    padding: 20px;
    text-decoration: none;
    
  
}

h1 {

    position: relative; 
    top: 160px;
    left: -100px;  

}

menu {

    position: relative; 
    top: 150px; 
    width: 200%; 
  

}

#description a {

    position: relative; 
    top: -30px;  

}

#description p {

    width: 250%; 
    font-size: 16px; 


}

.one {

    margin-top: -20px; 

}

.details h2 {

    transform: translateX(100px);

}

.details dl {

    transform: translateX(210px);
    font-size: 16px;

}

#ingdir {

    display: grid; 
    grid-template-columns: 1fr 1fr; 
    font-size: 16px;
    transform: translateY(-25px);


}

.ingredients h2 {

    font-size: 30px; 
    transform: translateX(-25px); 
    transform: translateY(10px); 

}

.directions {

    transform: translateX(50px);
    transform: translateY(25px);
    width: 350%; 
    font-size: 16px;

}

.directions h3 {

    font-size: 30px;
    transform: translateX(-50px);
    transform: translateY(10px);  

}

#sides dd {

    visibility: hidden; 
}

#sides h3 a {

    color: black; 

}

#sides svg {

    transform: translateY(-55px);
}

.salsa {

    transform: translateX(275px);
}

.salsa p {

    transform: translateX(-50px);

}

#side {

    display:grid; 
    grid-template-columns: 1fr 1fr; 

}

#side h4 {

    transform: translateY(50px);
    
}

#side p {

    transform: translateY(-175px); 
    position: relative; 
    right: -150px; 
    width: 350%; 
}

#side h3 {

    transform: translateY(-20px);
     

}

#side h3 a {

    text-decoration: none;


}

#side dt {

    visibility: hidden; 
}



.rating {

    transform: translateX(50px);
    transform: translateY(-200px);
}


#sidez {

    display: grid; 
    grid-template-columns: 1fr 1fr; 
    transform: translateY(-175px);

}



.tortillas {

    transform: translateX(275px);
}

.tortillas p {

    transform: translateX(-50px);

}


#sidez h4 {

    transform: translateY(50px);
    
}

#sidez p {

    transform: translateY(-175px); 
    position: relative; 
    right: -150px; 
    width: 350%; 
}

#sidez h3 {

    transform: translateY(-20px);
     

}

#sidez h3 a {

    text-decoration: none;


}

#sidez dt {

    visibility: hidden; 
}


aside img {


    width: 95%; 
    height:55%; 
}
footer h2 {

    visibility: hidden; 

}

#soccont {

    
    transform: translateX(-150px);
    transform: translateY(-50px);

}

#social {

    transform: translateX(500px); 
    display: flex; 
    flex-direction: column; 
   

}


#cheesington {

    transform: translateX(100px);
    transform: translateY(-125px);

   
}

.copyright img {

    transform: translateX(150px);
    transform: translateY(-125px);
    height: 50%; 
    width: 50%; 
}

}

/*-------------------- MEDIA QUERY (large) --------------------------------*/

@media screen and (min-width: 920px) {

    #logo {

        position:relative;
        top: -3500px;
        color: white;
        background-color:#CC5500; 
        
    }
    
    #sign-in {
        position: relative; 
        top: -3500px;
        color: black;  
    }

    nav {
    
        position: relative; 
        top: -3500px; 
        min-width: 620px; 
        background-color:#ffffff; 
    
    }
    
    nav ul {
    
        display: grid; 
        grid-area: auto; 
    
    }
    
    nav li img {
    
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    
    }
    nav li a {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        padding: 20px;
        text-decoration: none;
        
      
    }

    #search {

        position: relative;
        top: -2530px; 
        right: -300px; 
        align-items: center; 
        padding: 20px; 
        border: 2px #CC5500; 
        border-radius: 4px; 
    }
    
    h1 {

            
         transform: translateX(375px);

}

menu {

    display: flex; 
    flex-direction: column; 
    background-color: white; 

}

#menimgpara {

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
}

#description img {

    height: 600px; 
    width: 375px; 
    position: relative; 
    top: 25px; 
    right: -120px; 
  
}

#description p {

    position: relative; 
    top: -575px; 
    right: -500px; 
    width: 150%; 
    font-size: 15px; 

}

.details h2 {

    color:#90C9BC; 
    transform: translateX(300px);

}

.prep {

    display: flex; 
    flex-direction: column; 
    row-gap: 10px;  
    color:#90C9BC;
    font-size: 15px; 

}

.cook {

    display: flex; 
    flex-direction: column; 
    row-gap: 10px; 
    color:#90C9BC;
    font-size: 15px; 
     

}

.total {

    display: flex; 
    flex-direction: column; 
    row-gap: 10px; 
    color:#90C9BC; 
    font-size: 15px; 

}

.author {

    display: flex; 
    flex-direction: column; 
    row-gap: 10px; 
    color:#90C9BC; 
    font-size: 15px; 
    
    

}

.servings {

    display: flex; 
    flex-direction: column; 
    row-gap: 10px; 
    color:#90C9BC; 
    font-size: 15px; 
}

#maindl {

    display: flex; 
    flex-direction: row; 
    column-gap: 10px; 
    row-gap: 10px; 
    

}

.ingdir {

    font-size: 15px; 

}

aside dd { 

    visibility:hidden; 

}

.rice {

    display: flex; 
    flex-direction: column; 

}

.rice img {

    width: 150px; 
    height: 150px; 

}

.rice p {

   position: relative; 
   top: 125px; 
   left: 5px; 
   font-size: 15px; 
}

.salsa {

    display: flex; 
    flex-direction: column; 
}

.salsa img {
    width: 150px; 
    height: 150px; 
    transform: translateX(-150px); 

}



.salsa p {

    top: 125px; 
    left: -150px; 
    font-size: 15px; 
}

.salsa h3 href {


    transform: translateX(300px); 
    transform: translateY(100px);
}

.guac {

    display: flex; 
    flex-direction: column; 

}

.guac img {

    width: 150px; 
    height: 150px; 
}

.guac p {

    top: 125px; 
    left: 5px; 
    font-size: 15px; 
}
.rating {

    transform: translateY(-125px);
}

#sides h3 a {

    color: black; 

}

.tortillas {

    display: flex; 
    flex-direction: column; 
}

.tortillas img {

    width: 150px; 
    height: 150px; 
    transform: translateX(-150px); 
}

.tortillas p {

    position: relative; 
    top: 125px; 
    left: -150px; 
    font-size: 15px; 
}

.tortillas h3 {

    position: relative;
    top: 5px; 
    left: -150px; 


}

#sidez h4 {

    position: relative; 
    top: -10px; 
    left: -150px; 


}

#sidez svg {

    position: relative; 
    top: -80px; 
    left: -90px; 
}

.copyright a {

    position: relative; 
    left: -100px; 
    top: -50px; 

}

#cheesington {

    position: relative; 
    left: -100px;
    top: 275px;  
  

}

#social {

    position: relative; 
    left: 200px; 
    top: -75px; 

}

}




